<div class="navbar-default">
  <div class="navbar">
    <div class="col-sm-3">
      <ul>
        <li><b>Get to Know Us</b></li>
        <a href="#"><li>About Us</li></a>
        <a href="#"><li>Careers</li></a>
        <a href="#"><li>Press Releases</li></a>
        <a href="#"><li>Tingo Cares</li></a>
        <a href="#"><li>Gift a smile</li></a>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><b>Connect with Us</b></li>
        <a href="#"><li>Facebook</li></a>
        <a href="#"><li>Twitter</li></a>
        <a href="#"><li>Instagram</li></a>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><b>Make Money with Us</b></li>
        <a href="#"><li>Sell on Tingo</li></a>
        <a href="#"><li>Become an Affiliate</li></a>
        <a href="#"><li>Fulfillment by Tingo</li></a>
        <a href="#"><li>Advertise Your Products</li></a>
        <a href="#"><li>Tingo Pay on Merchants</li></a>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><b>Let Us Help You</b></li>
        <a href="#"><li>Your Account</li></a>
        <a href="#"><li>Returns Centre</li></a>
        <a href="#"><li>100% Purchase Protection</li></a>
        <a href="#"><li>Tingo App Download</li></a>
        <a href="#"><li>Tingo Assistance Download</li></a>
        <a href="#"><li>Help</li></a>
      </ul>
    </div>
  </div>
  <hr>
  <div class="rowContributers">
    <ul>
   <li><b>Tingo!</b></li> 
    <li><b>Contributers</b></li>
    <li>Shivank Shubham Teena Charu Ajay </li>
  </ul>
  </div>
</div>
